{%extends "base_generic.html"%}

{%block content%}
<h1> Registered Patient Information </h1>

<!--form method="POST"  > {%csrf_token%}-->
	<table class = "table table-hover">
	   <thead>
		<tr>
		 <th> FirstName </th>
		 <th> LastName </th>
		 <th> SSN </th>
	         <th> CreaetedDate</th>
		</tr>
	   </thead>
	   <tbody>	
		{% for field in form %}
	        <div class = "row">
		<tr>	
		  <td>{{field.first_name}} </td>
		  <td>{{field.last_name}} </td>
		  <td>{{field.SSN}} </td>
		  <td>{{field.created_date}} </td>		
		</tr>
		</div>
		{% endfor %}
	   </tbody>
	</table>
<!--	{{form.as_ul}} -->
<!--	<button type="submit" class="save btn btn-default">Save</button>   -->
<!--</form-->

{%endblock%}
